.login_logo {
	background-image = url(img/logo.jpg);
	position:absolute;
	width:40%;
	min-width:100px;
}

.login_body {
	/*background: linear-gradient(#00f6ff,  #3299ff);*/
	background-color: #F0F8FF;;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.login_title {
	font-size:50px;
	color:blue;
	text-align:center;
	margin-bottom:10px;
	text-shadow:1px 1px 3px grey;
}

#login_main .box {
	position:relative;
	background-color: white;
	width:40%;
	min-width:400px;
	margin-left:30%;
	margin-right:30%;
	border:solid;
	border-color: white;
	box-shadow:2px 2px 3px black;
}

#login_main .ids {
	margin-top:10px;
	text-align:center;
	width: 100%;
	height:30px;
}

.input_ids {
	background-color: white;
}

#login_main .submit {
	margin-top:10px;
	text-align:center;
	height:40px;
}

#login_main .input_submit {
	background-color: white;
	box-shadow:2px 2px 1px black;
}

#login_main .link_register {
	text-align:center;
}

#login_main .link_forgot {
	text-align:center;
	margin-bottom:10px;
}